{% extends "SwmVideotekBundle:Admin:layout.html.twig" %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		{% for img in imgs %}
            <img src="thumbs/{{img}}" alt="">
        {% endfor %}
	</div>
</div>
{% endblock %}