{% extends "SwmVideotekBundle:Main:layout.html.twig" %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="{{ path('video_admin_import') }}">Import</a></li>
        </ul>
    </div>
</div>
{% block content %}{% endblock %}
{% endblock %}