body {
    background: #4571B0 url('../images/bgraf1.jpg') top left no-repeat;
}

a.navbar-brand {
    font-size: 50px;
}

a.titlevideo {
    margin-top: 25px;
    font-family: 'Lobster',cursive;
    font-weight: normal;
    color: inherit;
    text-rendering: optimizelegibility;
    font-size: 14px;
}
.img-thumbnail {
    border:none;
    background: none;
}

iframe {
    width:550px;
    height:350px;
}
#swm_videotekbundle_videoadmin_description {
    height:300px;
}

footer {
    border-top:1px solid rgba(255, 255, 255, 0.3);
    margin-top:10px;
}