{% extends "SwmVideotekBundle:Main:layout.html.twig" %}

{% block title %}Discover videos{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h2>Discover videos</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                {{maxvideo.videoInfo|raw}}
            </div>
        </div>
        {% set videos = moreVideos %}
        {% include 'SwmVideotekBundle:Main:listing.inc.html.twig' %}
    </div>
    <div class="col-md-6">
        {% for t in tags %}
            <span class="label label-info"><a href="{{path('videos_bytag', {'id':t.id,'slug':t.tag})}}">{{ t.tag }}</a></span>
        {% endfor %}
    </div>
</div>
{% endblock %}