<div class="row">
    {% for video in videos %}
        <div class="col-md-3">
            <a href="{{ path('video_info', {'id':video.videoModel.id}) }}" class="titlevideo">{{video.videoModel.title | truncate(30, true, '...')}}</a>
            <img src="{{video.img_small}}" class="img-thumbnail" alt="">
        </div>
    {% endfor %}
</div>